RewriteEngine on


RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=302,L,NE]

RewriteCond %{REQUEST_URI} !\.(css|js|png|jpeg|jpg|webp)$ [NC]
RewriteRule ^((?!/).*)$ index.php [L,NC]


