
table { 
    border-collapse: collapse; 
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}

tr:not(:last-child){
    border-bottom: 2px solid rgb(153, 153, 153);
}

tr:nth-child(odd){
    background-color: whitesmoke;
}
tr:nth-child(even){
    background-color: white;
}

tr:first-child{
    height: 3rem;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    border-bottom: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th:not(:last-child){
    border-right: 2px solid rgb(68, 68, 68);
}


td{
    padding: 10px 15px;
    min-width: 200px;

}

