body{
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

table { 
    border-collapse: collapse; 
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}

tr:not(:last-child){
    border-bottom: 2px solid rgb(153, 153, 153);
}

tr:nth-child(odd){
    background-color: whitesmoke;
}
tr:nth-child(even){
    background-color: rgb(235, 235, 235);
}

tr:first-child{
    height: 3rem;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    border-bottom: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th:not(:last-child){
    border-right: 2px solid rgb(68, 68, 68);
}


td{
    padding: 10px 40px;
    min-width: 200px;
}

.logModif{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(146, 146, 146);
    background-color: rgba(0,0,0,0);
}

.btNeutral{
    height: 32px;
    margin-right: 7px;
    padding: 3px 13px 4px 13px;
    text-decoration: none;
    color: #333333;
    border: 2px solid #333333;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btNeutral:hover{
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 0 0 3px rgb(168, 168, 168);
}

.btRed{
    height: 32px;
    margin-right: 7px;
    padding: 3px 13px 4px 13px;
    text-decoration: none;
    color: #d10000;
    border: 2px solid #d10000;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btRed:hover{
    color: #b31717;
    border: 2px solid #a50000;
    box-shadow: 0 0 3px #cf3f3f;;
}

.btGreen{
    height: 32px;
    margin-right: 7px;
    padding: 3px 13px 4px 13px;
    text-decoration: none;
    color: #047200;
    border: 2px solid #047200;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btGreen:hover{
    color: #147e10;
    border: 2px solid #035700;
    box-shadow: 0 0 3px #035700;
}

input.btNeutral, input.btRed, input.btGreen{
    position: relative;
    top: -1px;
}

