/*global*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
    margin: 0;
    background-color: aliceblue;

}

/*main*/
main{
    padding-top: 120px;
    padding-bottom: 105px;
}

/*header*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 120px;

    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: rgb(46, 46, 46);
    
}
header img {
    height: 140px;
    position: relative;
    bottom: -24px;
}

header nav ul {
    display: flex;
    list-style: none;
}
header nav li {
    padding-right: 30px;
}
header nav li:last-child {
    margin: 0;
    padding: 0 15px 0 15px;
    text-align: center;
    background-color: white;
    border-radius: 26px;
}
header nav li:last-child a {
    color: black !important;
}
header nav li:hover {
    text-decoration: underline white;
}
header nav li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header.deployed {
    height: 100px;
}

#h__left{
    display: flex;
}

#h__left>a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#h__left h1{
    margin-left: 50px;
    color: #eddfbb;
}

/*footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    width: 100%;

    background-color: rgb(46, 46, 46);
    border-top: solid 4px  rgb(46, 46, 46);
    
    position: absolute;
    bottom: 0;
}
#footerContent{
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: rgb(226, 226, 226);
}
footer ul{
    display: flex;
}
footer li{
    padding-left: 40px;
    list-style: none;
}
footer a{
    display: block;
    color: rgb(226, 226, 226);
    text-decoration: none;
}

footer a:hover{
    transform: scale(1.1);
}

/*form login*/
#formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

    position: fixed;
    right: 100px;
    top: -1000px;

    border: 1px solid rgb(46, 46, 46);
    background-color: rgba(236, 233, 230, 0.7);
    border-radius: 0 0 30px 30px;
    box-shadow: rgb(146, 146, 146) 1px 1px 5px;
    padding: 50px;

    z-index: 2;

    transition: all 1s;
}

#formLogin input{
    width: 350px;
    margin: 7px 0 15px 0;
}

#formLogin h2{
    font-size: 2rem;
}

#formLogin label{
    font-size: 1.2rem;
}

#formLogin input[type='submit']{
    width: 180px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 15px;
}

#formLogin input[type='submit']:hover{
    box-shadow: 0 0 3px black;
}

#formLogin.loginFormOpen{
    top: 95px;
}

/*cart*/

#cart{
    width: 250px;
    height: 100%;
    padding-top: 180px;
    padding-left: 40px;
    position: fixed;
    right: -300px;
    top: 0;

    background: rgb(82,82,82);
    background: linear-gradient(90deg, rgba(82,82,82,1) 0%, rgba(54,54,54,1) 100%);    color: white;
    box-shadow: 0 0 4px rgb(82,82,82);
    transition: all 0.3s;
    z-index: 2;
}

#cart h3{
    font-size: 2rem;
}

#cart.cartOn{
    right: 0;
}


/*other*/

input[type="submit"]{
    cursor: pointer;
}






