main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0;
    background: url('../img/background.jpg');
    background-size: cover;
}

main h2{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(223, 223, 223);
    text-shadow: 0 0 3px #737272;
    font-size: 2rem;
}
/*form*/
#register{
    display: flex;
    flex-direction: column;

    max-width: 500px;
    margin-top: 30px;
}

#register>div{
    display: grid;
    grid-gap: 20px 65px;
    grid-template-columns: 1fr 300px;
}

#register label, form p{
    text-align: right;
    justify-self: flex-end;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #737272;
}


#register #gender{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

#register #gender label{
    padding-left: 10px;
    justify-self: flex-start;
    position: relative;
    top: 4px;
}

#register input{
    height: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 2px solid rgb(66, 66, 66);
    color: white;
    font-size: 1.1rem;
}

#register input[type="submit"]{
    margin-top: 20px;
    padding: 5px;
    width: 30%;
    height: auto;
    align-self: center;

    font-size: 1.1rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(124, 124, 124);
    color: black;
}

#register input[type="submit"]:hover{
    border: 1px solid black;
}

#errorsForm{
    border: 1px solid red;
    background-color: rgba(243, 184, 172, 0.4);
    color: rgba(156, 37, 37, 0.746);
    border-radius: 10px;
    position: relative;
    padding: 0 60px;
    width: 600px;
    font-size: 1.1rem;
}

#closeErrors{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;

    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 108, 108);
    background-color: rgb(250, 206, 206);
    border-radius: 3px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#closeErrors:hover{
    border: 1px solid red;
    cursor: pointer;
}