/*global*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
    margin: 0;
    background-color: aliceblue;

}

/*main*/
main{
    padding-top: 125px;
    padding-bottom: 105px;
}
/*connect and register*/

form{
    margin: 40px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: black 1px solid;
    padding: 20px;
}

label{
    margin: 10px 0 5px 0;
}
/*header*/


header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 120px;
}
header img {
    height: 38px;
}

header nav ul {
    display: flex;
    list-style: none;
}
header nav li {
    padding-right: 30px;
}
header nav li:last-child {
    margin: 0;
    padding: 0 15px 0 15px;
    text-align: center;
    background-color: white;
    border-radius: 26px;
}
header nav li:last-child a {
    color: black !important;
}
header nav li:hover {
    text-decoration: underline white;
}
header nav li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header.deployed {
    height: 80px;
    background-color: #fff;
}
header.deployed li a {
    color: black;
}
header.deployed li a:hover {
    text-decoration: underline black;
}

/*footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    width: 100%;

    background-color: rgb(46, 46, 46);
    border-top: double 4px  rgb(46, 46, 46);
    
    position: absolute;
    bottom: 0;
}
#footerContent{
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: rgb(226, 226, 226);
}
footer ul{
    display: flex;
}
footer li{
    padding-left: 40px;
    list-style: none;
}
footer a{
    display: block;
    color: rgb(226, 226, 226);
    text-decoration: none;
}

footer a:hover{
    transform: scale(1.1);
}